/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/*
colors used

*/


* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Andada Pro', serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  background-color: #cc4545;
}

h1 {
  font-size: 30px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

a {
  color: #357b70;
}

a:hover, a:focus {
  /* a: focus removes underline when navigating with a keyboard over a linkwd */
  /* a:hover removes underline when hovering over a link */
  text-decoration: none;
}
a:visited :not(li) {
  color: #05676e;
}

a:active {
  /* changes color of link you are clicking on */
  color: #489c79;
}


/* navigation/header bar */

ul {
  list-style-type: none;
  text-align: right;

}

li a {
  display: block;
  color: black;
  padding: 4px 16px;
  border: none;
  border-radius: 45%;
  text-decoration: none;
  -webkit-transition: .5s opacity;
  -o-transition: .5s opacity;
  transition: .5s opacity;
}


li a:hover {
  background-color: white;
  opacity: .8;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 10px;
  background-color: lightgray;
  margin-bottom: 40px;
}

.page-header__item {
  /* flex: 0 1 200px; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page-header .page-header__item:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}


.navigation-list__item {
  text-decoration: none;
  font-weight: 700;
  color: undefined;
}


@media screen and (max-width: 670px) {
 .page-header {
   width: 100%;
   height: 75px;
 }
 .page-header__logo {
   width: 110px;
   padding:0;
  margin: 0;
 }
 .navigation-list__item {
   display:inline-block;
   float:left;
   font-size: 55%;
   padding:0;
   margin-right: 0;
 }

}
/* navigation/ header bar*/


/* index/HTML */

.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
  -webkit-transition: -webkit-transform .7s ease-in-out;
  transition: -webkit-transform .7s ease-in-out;
  -o-transition: transform .7s ease-in-out;
  transition: transform .7s ease-in-out;
  transition: transform .7s ease-in-out, -webkit-transform .7s ease-in-out;
}

.profile__portrait:hover {
  -webkit-transform: scale(95%);
      -ms-transform: scale(95%);
          transform: scale(95%);
}

.profile__text {
  font-size: 22px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 1200px;
          flex: 1 1 1200px;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1920px;
  margin: 0 auto;
  text-align: center;
  background-color: lightgray;
}


/* index/HTML */

/* footer */
.page-footer {
    clear: both;
    text-align: center;
    font-size: 22px;
}

.social-media_github {
  clear: both;
  margin-right: 5px;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  -o-transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}
a .social-media_github {
  text-decoration: none;
}

.social-media_github:hover {
  -webkit-transform:scale(92%);
      -ms-transform:scale(92%);
          transform:scale(92%);
}

.social-media_twitter {
  clear: both;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  -o-transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.social-media_twitter:hover {
  -webkit-transform:scale(92%);
      -ms-transform:scale(92%);
          transform:scale(92%);
}

.social-media_linkedin {
  clear: both;
  margin-left: 5px;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  -o-transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.social-media_linkedin:hover {
  -webkit-transform:scale(92%);
      -ms-transform:scale(92%);
          transform:scale(92%);
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.social-media__links {
  text-decoration: none;
}
/* footer */

/* work.html  */
.grid {
  display: -ms-grid;
  display: grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;

}

.grid__item {
  background-color: lightgray;
}

 @media all and (max-width: 500px) {
   .grid {
     -ms-grid-columns: 1fr;
     grid-template-columns: 1fr;
   }
 }
 @media all and (min-width: 500px) and (max-width: 750px){
   .grid {
     -ms-grid-columns: 1fr 20px 1fr;
     grid-template-columns: 1fr 1fr;
   }
 }
 @media all and (max-width: 750px) {
   .grid {
     grid-gap: 10px;
   }
   .grid__item:last-child {
     grid-column: auto / auto;
     grid-row: auto / auto;
   }
   h1 {
     font-size: 22px;
   }
 }
/* work.html */

/* contact.html */

.contact-header {
  margin-left: 20px;
}

input {
  margin-left: 20px;
}

textarea {
  margin-left: 20px;
}

.standard-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  /* text-align: left; */
  margin-left: 20px;
}

.submit_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.my-contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  color: undefined;
  font-size: 17px;
  font-weight: 700;
  margin-left: 20px;
}

.my-contact-info a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  color: undefined;
  font-size: 17px;
  font-weight: 700;
  margin-left: 20px;
}
/* contact.html */

 /* about.html */
 .button {
   /* overwrites browser defaults and resets the border */
   border: none;
   display: inline-block;
   float:left;
   /* takes the font from the outer container */
   font-family: inherit;
   /* styles the background color, font color, and text decoration (underline, etc.) of the button */
   background-color: lightgray;
   color: undefined;
   text-decoration: none;
   /* adds spacing to the button */
   padding: 10px;
   border-radius: 3px;
   /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
   border-bottom: 2px solid rgba(0, 0, 0, 0.3);
   -webkit-transition: 0.6s opacity;
   -o-transition: 0.6s opacity;
   transition: 0.6s opacity;
 }

 .button:hover, .button:focus {
    /* lets the mouse appear as a hand when hovering over the button */
   cursor: pointer;
   /* reduces the opacity of the button to 80% when hovored over*/
   opacity: .85
}

 @-webkit-keyframes color-change {
     from {
       fill: #edc655;
     }
     to {
       fill: #f76414;
     }
   }

 @keyframes color-change {
     from {
       fill: #edc655;
     }
     to {
       fill: #f76414;
     }
   }
   .sun {
    -webkit-animation: 4s color-change infinite alternate linear;
            animation: 4s color-change infinite alternate linear;
  }
/* about.html */
